*{
    scroll-behavior: smooth;
}
ul{
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
  }

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    min-width: 0;
    display: flex;
    flex-direction: column;
    
}

#cal{
    border-bottom: #29983B;
    border-bottom-style: solid;
    margin-bottom: 10px ;
    border-bottom-width: 1px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    display: flex;
    background-color: #A1C3A6; 
    align-items: center;
    justify-content: space-between;
    border-bottom-color: #29983B;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    flex-wrap:nowrap ;
    object-fit: cover;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    
}

#changecal{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

ul{
    margin: 0;
}
#pfp{
    position: relative;
}

#changecal li{
    list-style-type: none;
    border: #000000;
    border-width: 0px;
    padding: 5px 20px;
    border-radius: 15px;
    color: #000000;
    border-style: solid;
    cursor: pointer;
    padding: 5px 6px;
}

#changecal li:hover{
    background-color:#29983B;
    transition: 0.35s;
    color: white;
}

#pfpopt{
    display: none;
    z-index: 100;
    position: absolute;
    width:150px; 
    border-width:2px; 
    border-style:solid; 
    padding: 3px 13px; 
    right:0; 
    top:45px; 
    background-color:white;
}

.logo{
    display: flex;
    padding-left: 30px;
    max-width: 30%;
    min-width: 10%;
}

.logo img{
    height: 55px;
}

.home{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0;
    font-size: 20px;
    max-width: 30%;
    min-width: 15%;
    gap: 20px;
    list-style-type: none;
}

#pfpopt p{
    margin-top: 12px;
    margin-bottom: px;
    cursor: pointer;
}

.nav ul a{
    text-decoration: none;
    color: black;
}

.navtext {
    position: relative;
    text-decoration: none;
  }
  
.navtext:hover::after {
    content: "";
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 0;
    border: 1px solid black;
  }

.home img{
    margin: 0;
    padding:0;
    height: 40px; 
    margin-right: 40px;
    border-radius: 50%;
    margin-top: 3px;
    cursor: pointer;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content2{
    display: flex;
    justify-content: center;
    display: none;
    
}

.input{
    /* margin-top:60px; */
    padding-top: 30px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    
}

.input div{
    width: 100%;
    display: flex;
}

.input input{
    margin: 0;
    height: 29px;
    width: 200px;
    margin-top: 8px;
    margin-bottom: 15px;
    border-radius: 9px;
    border-style: solid;
    border-width: 1px;
    min-width: 80px;
}

.percentageinp{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 27px;
}

.input button{
    margin-top: 12px ;
    height: 33px;
    font-size: 18px;
    background-color: #A1C3A6;
    border-color: #29983B;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    cursor: pointer;
}

.input button:hover{
    color: #ffffff;
    background-color:  #29983B;
    border-color: #A1C3A6;
    transition: 0.2s;
}

.result{
    border-color: #29983B;
    border-style: solid;
    border-width: 1px;
    background-color: #A1C3A6;
    margin-top:80px;
    margin-left: 90px;
    margin-bottom: 62px;
    font-size: 25px;
    border-radius: 15px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.result div{
    margin: 16px 35px;
}

#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contactinp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 90px;
    margin-right: 30px;
 
}

#contact img{
    height: 350px;

}

#contact p{
    font-size: 40px;
    display: flex;
    margin-bottom: 32px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input{
    margin-bottom: 16px;
    margin-top: 5px;
    width: 240px;
    height: 32px;
    border-radius: 9px;
    border-style: solid;
    border-width: 1px;
    display: block;
    font-size: 15px;
    padding-left: 10px;
    margin-top: 2px;
}

form textarea{
    height: 100px;
    width: 240px;
    display: block;
    margin-bottom: 40px;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 5px;
}

form button{
    width: 140px;
    display: block;
    margin-bottom: 35px;
    height: 36px;
    font-size: 18px;
    background-color: #A1C3A6;
    border-color: #29983B;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    cursor: pointer;
}

.linkedin{
    margin-bottom: 15px;
}

form button:hover{
    color: #ffffff;
    background-color:  #29983B;
    border-color: #A1C3A6;
    transition: 0.2s;
}

@media(max-width:740px ){
    .contactbox{
        flex-direction: column;
    }
    .contactinp{
        margin: 0;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
    .content2{
        flex-direction: column;
        align-items: center;
    }
    .result{
        margin-left: 0px;
        font-size: 16px;
        width: 330px;
        margin-top: 60px;
    }
    #contact img{
        height: 300px;
    }
    #cal{
        height: 100%;
    }

    #changecal{
        font-size: 15px;
    }

    .home{
        font-size: 15px;
        padding-left: 10px;
    }
    .input{
        font-size: 20px;
        margin-top: 64px;
    }

    #contact p{
        font-size: 35px;
    }
    .logo img{
        height: 40px;
    }
    
    .result{
        font-size: 20px;
    }
    .result div{
        margin: 12px 25px;
    }
    
}

@media(max-width: 460px  ){
    .home ul{
        padding-left: 20px;
    }

    .home img{
        margin-right: 16px;
    }

    .logo{
        padding-left: 16px;
    }

    .result{
        width: 280px;
    }

    .result div{
        margin: 12px 25px;
    }
}

